html,
body,
.me-container {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}



.me-container {
  background: url(../images/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (max-width: 500px) {
  .me-container {
    background-position-x: -300px;
  }


}

#wrapper::before {
  width: 100%;
  height: 100%;
  content: '';
  display: block;
  position: absolute;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.13);
  backdrop-filter: blur(15px);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.3);
}

#wrapper {
  width: 90%;
  height: 90%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 16px;
  background: transparent;
}

#wrapperContent {
  width: 100%;
  height: 100%;
  padding: 16px;
  box-sizing: border-box;

}



#tickets li input {
  width: 200px;
}




#textAddText {
  width: 100%;
  min-height: 100px;
  left: 10%;
  padding: 0;
  box-sizing: border-box;
  background: transparent;
  border-radius: 0;
  border: none;
  outline: none;

}

#textAddText:focus {
  border: none;
  outline: none;
}

#historyTable .history-item {
  padding: 12px;
  box-shadow:0 0 2px 1px rgba(3,3,3, 0.15);
  border-radius: 7px;
}

#historyTable .history-item:not(:last-child) {
  /* border-bottom: 2px solid rgba(255,255,2550.5); */
}

